.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--background-disabled);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 80px 16px 48px 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  text-align: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.desktopHero {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  gap: 32px;

  @media (min-width: 768px) {
    align-items: flex-start;
    max-width: 32rem;
  }
}

.heroImage {
  width: 100%;
  height: auto;
  max-width: 200px;

  @media (min-width: 768px) {
    width: auto;
    max-width: 50%;
    height: 367px;
    object-fit: contain;
  }
}

.heroTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    font-size: 56px;
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.heroDescription {
  color: var(--text-disabled);
  font-weight: 600;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.heroButton {
  width: 100%;

  @media (min-width: 768px) {
    max-width: 296px;
  }
}