.primaryButton {
  width: 100%;

  padding: 1rem 1.5rem;
  font-size: inherit;
  font-weight: 600;

  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 0.75rem;

  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (min-width: 768px) {
    width: auto;
    padding: 1.25rem 1.5rem;
  }
}

.primaryButton:hover {
  background-color: var(--primary-hover);
}

.primaryButton:active {
  background-color: var(--primary-active);
}


