.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom right, 
    var(--background) 50%, 
    var(--background-primary) 50%
  );
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 80px 16px 48px 16px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  text-align: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.desktopHero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;

  @media (min-width: 768px) {
    align-items: flex-start;
    gap: 64px;
    max-width: 48rem;
  }
}

/* Image */
.heroImage {
  width: 100%;
  height: auto;
  max-width: 200px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: auto;
    max-width: 50%;
    height: 367px;
  }
}

.desktopHeroImageContainer {
  flex-shrink: 0;
}

/* Typography  */
.heroTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    display: inline-block;
    font-size: 56px;
  }
}

.heroSubtitle {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 24px;
  max-width: 500px;
}

/* Button */
.heroButton {
  width: 100%;
}

.desktopHeroButton {
  width: 100%;
  max-width: 296px;
  font-size: 20px;
}